version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 20
    schedule:
      interval: "weekly"
      day: "friday"
      time: "18:00" # UTC
    commit-message:
      prefix: "Upgrade: [dependabot] - "
      include: "scope"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "18:00" # UTC
    versioning-strategy: increase
    open-pull-requests-limit: 20
    commit-message:
      prefix: "Upgrade: [dependabot] - "
      include: "scope"
