version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 20
    schedule:
      interval: "daily"
      time: "02:00"
    commit-message:
      prefix: "Upgrade: [dependabot] - "

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
    versioning-strategy: increase
    open-pull-requests-limit: 20
    commit-message:
      prefix: "Upgrade: [dependabot] - "
